#Cadastro de Funcionários

In [ ]:
import pandas as pd    #necessario importar biblioteca pandas para todos os exercicios abaixo

In [ ]:
 df = pd.read_csv("https://drive.google.com/u/3/uc?id=1id-MxIdlA5pG0iJROsmxLzsBahvtNExc&export=download", sep = ';' )
 #necessario ler a planilha para todos os exercicios abaixo
 df

## Lista de Exercícios

### Exibindo algumas colunas (sem condição)

In [ ]:
#1 Listar colunas (atributos): Codigo, Escolaridade e Salario dos Funcionários
print(df[["Codigo", "Escolaridade", "Salario"]])

### Exibindo algumas linhas (com condição) - Filtros

In [ ]:
#2 Listar os dados dos funcionários com idade acima de 50 anos
print(df.query("Idade_Anos > 50"))

In [ ]:
#3 Listar os dados dos funcionários com idade acima de 50 anos e Genero Masculino
# letra M está entre aspas simples pois é considerado um texto.
print(df.query("Idade_Anos > 50 and Genero == 'M'"))

In [ ]:
#4 Listar os dados dos funcionários com escolaridade Superior
print(df.query("Escolaridade == 'Superior'"))

In [ ]:
#5 Listar os dados dos funcionários com escolaridade 2o Grau e Salario maior ou igual que 10000
print(df.query("Escolaridade == '2o Grau' and Salario >= 10000"))

### Exibindo algumas colunas de algumas linhas (com condição) - Filtros em somente algumas colunas

In [ ]:
#6 Listar Codigo, Genero, Idade e Salario dos funcionários com idade acima de 50 anos e Genero Feminino
df_filtrada=df.query("Idade_Anos > 50 and Genero == 'F'")
df_final=df_filtrada[["Codigo","Genero","Idade_Anos","Salario"]]
print(df_final)

In [ ]:
#6 Listar Codigo, Genero, Idade e Salario dos funcionários com idade acima de 50 anos e Genero Feminino
# Outra solução
# Nesta solução, mais curta, as três linhas de solução anterior são feitas em uma única linha
print(df[["Codigo","Genero","Idade_Anos", "Salario"]].query("Idade_Anos > 50 and Genero == 'F'"))
# As duas formas estão corretas

In [ ]:
#7 Listar Codigo, Escolaridade, Idade e Salario dos funcionários com Escolaridade 1o Grau
print(df[["Codigo","Escolaridade","Idade_Anos", "Salario"]].query("Escolaridade == '1o Grau'"))

### Exibindo dados ordenados (Ordenação)

In [ ]:
#8 Listar os dados em ordem crescente de Idade
print(df.sort_values(by="Idade_Anos"))

In [ ]:
#9 Listar os dados em ordem crescente de escolaridade e salário.
print(df.sort_values(by=["Escolaridade", "Salario"]))

In [ ]:
#10 Listar os dados em ordem crescente de escolaridade e decrescente de salário.
print(df.sort_values(by=["Escolaridade", "Salario"],ascending=[True, False]))

### Estatísticas do Dataframe

In [ ]:
#11 Lista o menor valor dos atributos numéricos.
print(df.min())

In [ ]:
#12 Exibir a Média das Idades com duas casas decimais
resultado = df["Idade_Anos"].mean() # calculando a média das Idades
print("%.2f" % resultado)           # imprimindo o resultado com 2 casas decimais

In [ ]:
#13 Exibir o Maior Salário
print(df["Salario"].max())

In [ ]:
#14 Exibir a soma de todos os salários da empresa
print(df["Salario"].sum())

### Agrupamento de Dados

In [ ]:
#15 Exibir a quantidade de funcionários por escolaridade
print(df.groupby("Escolaridade")["Codigo"].count())

In [ ]:
#16 Exibir o maior salário por Escolaridade
print(df.groupby("Escolaridade")["Salario"].max())

In [ ]:
#17 Exibir a média de salário por Gênero
print(df.groupby("Genero")["Salario"].mean())

In [ ]:
#18 Exibir o Tempo Médio (em meses) na Empresa, por grau de Escolaridade
print(df.groupby("Escolaridade")["Tempo_Meses"].mean())

### Manipulando Planilha e comando `input`

In [ ]:
#19 Listar os dados em ordem decrescente da coluna que você vai entrar via comando input: Codigo, Salario, Idade_Anos ou Tempo_Meses
coluna=input("Digite o nome da coluna/atributo ")     # o nome da coluna  digitado eh atribuido a variavel coluna
print(df.sort_values(by=coluna,ascending=[False]))    # note que aqui coluna nao pode ficar entre aspas duplas, pois o seu conteudo ja eh um texto

In [ ]:
#20 Exibir o Tempo Médio (em meses) na Empresa, por coluna que você vai entrar via comando input: Escolaridade ou Genero
coluna=input("Digite o nome da coluna/atributo ")   # o nome da coluna  digitado eh atribuido a variavel coluna
print(df.groupby(coluna)["Tempo_Meses"].mean())     # note que aqui coluna nao pode ficar entre aspas duplas, pois o seu conteudo ja eh um texto

In [ ]:
#21 Listar os dados dos funcionários com escolaridade que você vai entrar via comando input (2o Grau, 1o Grau ou Superior) e Salario maior ou igual que 5000
escola = input("Digite a escolaridade ")
df_filtrada = df.query("Escolaridade == '"+escola+"' and Salario >= 5000")
print(df_filtrada)

IMPORTANTE:

Observe a sintaxe na terceira linha no programa acima

**Escolaridade == '  " +escola+ "   '**

Quando desejamos filtrar dados usando um atributo, por exemplo `Escolaridade`, cujos elementos não são números, mas sim, um **texto** (no caso, graus de escolaridade), fazemos:

1) Entramos com o nome de Escolaridade (elemento de atributo) via teclado com comando `input()` - por exemplo: 1o Grau, 2o Grau, Superior.

2) Atribuímos este valor lido  à uma variável, chamada, como no exemplo acima, `escola`

3) Usamos:

**Escolaridade == ' " +escola+ " '** para filtrar os elementos da coluna Escolaridade iguais ao nome/elemento digitado via teclado `input() `

Ou seja, no caso geral:

 **nome_atributo == ' " +nome_variável+" '**