### Exercício

Ordene a planilha de filmes (ver o Notebook teórico) por Nota.

In [7]:
import pandas as pd

filmes_csv = "4.1 Filmes.csv"

f = open(filmes_csv, "w", encoding='utf-8')
f.write("""Título,Ano,Duração,Nota
Star Wars,1977,121,87
Harry Potter e a Pedra Filosofal,2001,152,75
O Senhor dos Anéis: a Companhia do Anel,2001,178,88
Os Vingadores,2012,143,84
Star Trek,2009,127,80
X-men,2000,104,74
Os Guardiões da Galáxia,2014,121,82
A Origem,2010,148,88
The Matrix,1999,136,87
O Exterminador do Futuro,1984,107,81
""")
f.close()

df = pd.read_csv(filmes_csv)
df.sort_values(by="Nota")

                                    Título   Ano  Duração  Nota
5                                    X-men  2000      104    74
1         Harry Potter e a Pedra Filosofal  2001      152    75
4                                Star Trek  2009      127    80
9                 O Exterminador do Futuro  1984      107    81
6                  Os Guardiões da Galáxia  2014      121    82
3                            Os Vingadores  2012      143    84
0                                Star Wars  1977      121    87
8                               The Matrix  1999      136    87
2  O Senhor dos Anéis: a Companhia do Anel  2001      178    88
7                                 A Origem  2010      148    88

### Exercício

Ordene a planilha de filmes por Nota, da maior para a menor.

In [9]:
df.sort_values(by="Nota", ascending=False)

                                    Título   Ano  Duração  Nota
2  O Senhor dos Anéis: a Companhia do Anel  2001      178    88
7                                 A Origem  2010      148    88
0                                Star Wars  1977      121    87
8                               The Matrix  1999      136    87
3                            Os Vingadores  2012      143    84
6                  Os Guardiões da Galáxia  2014      121    82
9                 O Exterminador do Futuro  1984      107    81
4                                Star Trek  2009      127    80
1         Harry Potter e a Pedra Filosofal  2001      152    75
5                                    X-men  2000      104    74

### Exercício
Ordene a planilha de filmes por Nota (menor para maior) com critério de desempate a Duração (maior para menor).

In [14]:
df.sort_values(by=["Nota", "Duração"], ascending=[True, False])

                                    Título   Ano  Duração  Nota
5                                    X-men  2000      104    74
1         Harry Potter e a Pedra Filosofal  2001      152    75
4                                Star Trek  2009      127    80
9                 O Exterminador do Futuro  1984      107    81
6                  Os Guardiões da Galáxia  2014      121    82
3                            Os Vingadores  2012      143    84
8                               The Matrix  1999      136    87
0                                Star Wars  1977      121    87
2  O Senhor dos Anéis: a Companhia do Anel  2001      178    88
7                                 A Origem  2010      148    88

### Exercício
Faça um filtro para visualizar apenas os filmes a partir do ano 2000.

Observação: Se quiser usar $\geq$ use ``>=`` Similar para $\leq$

In [17]:
df.query("Ano >= 2000")

                                    Título   Ano  Duração  Nota
1         Harry Potter e a Pedra Filosofal  2001      152    75
2  O Senhor dos Anéis: a Companhia do Anel  2001      178    88
3                            Os Vingadores  2012      143    84
4                                Star Trek  2009      127    80
5                                    X-men  2000      104    74
6                  Os Guardiões da Galáxia  2014      121    82
7                                 A Origem  2010      148    88

### Exercício

Faça um filtro para visualizar apenas os filmes do ano 2001.

Observação: Para fazer uma condição de igualdade, use ``==`` e não ``=``

In [20]:
df.query("Ano == 2000")

  Título   Ano  Duração  Nota
5  X-men  2000      104    74

### Exercício

Faça um filtro para visualizar apenas os filmes com Nota pelo menos 80 que foram lançados antes do ano de 2003.

In [21]:
df.query("Nota >= 80 and Ano <= 2003")

                                    Título   Ano  Duração  Nota
0                                Star Wars  1977      121    87
2  O Senhor dos Anéis: a Companhia do Anel  2001      178    88
8                               The Matrix  1999      136    87
9                 O Exterminador do Futuro  1984      107    81

### Exercício

Utilizando a lista de filmes, escreva uma instrução para retornar o menor valor dos atributos numéricos.

In [28]:
df.min()

Título     A Origem
Ano            1977
Duração         104
Nota             74
dtype: object

### Exercício

Utilizando a lista de filmes, escreva uma instrução para retornar o menor valor do atributo `Nota`.

In [29]:
df["Nota"].min()

74

### Exercício

Para todos os filmes do mesmo ano, mostre a nota do melhor filme.
**Dica:** Utilize o comando `groupby`

In [34]:
df.groupby("Ano")["Nota"].max()

Ano
1977    87
1984    81
1999    87
2000    74
2001    88
2009    80
2010    88
2012    84
2014    82
Name: Nota, dtype: int64

### Exercício

Crie uma tabela contendo apenas o segundo, terceiro e quarto filme com maior nota

In [46]:
df.sort_values(by="Nota", ascending=False, inplace=True)
df.reset_index().loc[1:3]

   index      Título   Ano  Duração  Nota
1      7    A Origem  2010      148    88
2      0   Star Wars  1977      121    87
3      8  The Matrix  1999      136    87

### Exercício

Obtenha a cotação do dólar atualizado e encontre a data e o valor da menor cotação entre 2008 e 2014.

**Obs.:** O link do arquivo .csv com as cotações atualizadas é `https://api.bcb.gov.br/dados/serie/bcdata.sgs.10813/dados?formato=csv`

In [60]:
ct = pd.read_csv("https://api.bcb.gov.br/dados/serie/bcdata.sgs.10813/dados?formato=csv", sep=';', decimal=",")

ct['data'] = pd.to_datetime(ct['data'], format="%d/%m/%Y")
ct.query("data >= '2008-01-01' and data <= '2014-12-31'").min()

data     2008-01-02 00:00:00
valor                 1.5337
dtype: object